In [3]:
import pandas as pd

In [6]:

# Lue Excel- tai CSV-tiedosto
df = pd.read_csv("ice-cream-europe.csv")  # tai .csv riippuen muodosta
df.head(20)

,Data extracted on 12/05/2025 19:54:39 from [ESTAT],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Dataset:,"Sold production, exports and imports [ds-05612...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last updated:,06/02/2025 11:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Frequency,NaN,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,TIME,NaN,2021,NaN,NaN,NaN,2022,NaN,NaN,NaN
6,INDICATORS (Labels),NaN,OWNPRODQNT,OWNPRODVAL,PRODQNT,PRODVAL,OWNPRODQNT,OWNPRODVAL,PRODQNT,PRODVAL
7,PRCCODE (Labels),DECL (Labels),4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Ice cream and other edible ice (including sher...,France,:,:,"530,984,341","976,929,000",:,:,"587,701,447","1,140,617,000"
9,Ice cream and other edible ice (including sher...,Netherlands,"62,734,000","142,370,000",:,:,"64,167,000","157,913,000",:,:
10,Ice cream and other edible ice (including sher...,Germany,:,:,"613,966,539","874,943,000","394,896,126","783,960,000","620,027,771","930,818,000"
11,Ice cream and other edible ice (including sher...,Italy,"275,850,691","736,904,000","381,113,331","802,744,000","449,757,300","1,189,281,000","571,159,912","1,285,232,000"
12,Ice cream and other edible ice (including sher...,Ireland,:,:,:,:,:,:,:,:
13,Ice cream and other edible ice (including sher...,Denmark,"19,015,768","76,387,253","19,015,768","76,387,253","15,976,959","70,831,496","15,976,959","70,831,496"
14,Ice cream and other edible ice (including sher...,Greece,"33,676,929","118,234,000",:,:,"39,574,041","140,682,000",:,:
15,Ice cream and other edible ice (including sher...,Portugal,:,:,:,:,:,:,:,:
16,Ice cream and other edible ice (including sher...,Spain,"320,199,000","637,602,000","320,199,000","637,602,000","321,712,000","825,682,000","321,712,000","825,682,000"
17,Ice cream and other edible ice (including sher...,Belgium,"179,449,634","305,161,000","179,449,634","305,161,000","198,410,364","357,743,000","198,410,364","357,743,000"
18,Ice cream and other edible ice (including sher...,Luxembourg,0,0,0,0,0,0,0,0
19,Ice cream and other edible ice (including sher...,Iceland,0,0,0,0,0,0,0,0

df = pd.read_csv("ice-cream-europe.csv", header=5)
df.head()

In [5]:
df = pd.read_csv("ice-cream-europe.csv", header=5)
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,TIME,NaN,2021,NaN,NaN,NaN,2022,NaN,NaN,NaN
1,INDICATORS (Labels),NaN,OWNPRODQNT,OWNPRODVAL,PRODQNT,PRODVAL,OWNPRODQNT,OWNPRODVAL,PRODQNT,PRODVAL
2,PRCCODE (Labels),DECL (Labels),4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ice cream and other edible ice (including sher...,France,:,:,"530,984,341","976,929,000",:,:,"587,701,447","1,140,617,000"
4,Ice cream and other edible ice (including sher...,Netherlands,"62,734,000","142,370,000",:,:,"64,167,000","157,913,000",:,:

In [8]:

# Lue tiedosto, ottaen oikea header-rivi (rivinumero 0 kuvassa)
df = pd.read_csv("ice-cream-europe.csv", header=0)

# Jos ensimmäinen näkyvä rivi (kuvassa rivi 0) ei ole oikeasti tiedoston ensimmäinen rivi,
# vaan header on kolmannella rivillä (esim. rivillä 3 tiedostossa), käytä:
df = pd.read_csv("ice-cream-europe.csv", header=6)
df.head()

,TIME,Unnamed: 1,2021,Unnamed: 3,Unnamed: 4,Unnamed: 5,2022,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,INDICATORS (Labels),NaN,OWNPRODQNT,OWNPRODVAL,PRODQNT,PRODVAL,OWNPRODQNT,OWNPRODVAL,PRODQNT,PRODVAL
1,PRCCODE (Labels),DECL (Labels),4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ice cream and other edible ice (including sher...,France,:,:,"530,984,341","976,929,000",:,:,"587,701,447","1,140,617,000"
3,Ice cream and other edible ice (including sher...,Netherlands,"62,734,000","142,370,000",:,:,"64,167,000","157,913,000",:,:
4,Ice cream and other edible ice (including sher...,Germany,:,:,"613,966,539","874,943,000","394,896,126","783,960,000","620,027,771","930,818,000"

In [11]:
df.columns = df.iloc[0]
df = df[1:]  # Poista ensimmäinen rivi, joka nyt on headerina
df.head()

1,PRCCODE (Labels),DECL (Labels),4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ice cream and other edible ice (including sher...,France,:,:,"530,984,341","976,929,000",:,:,"587,701,447","1,140,617,000"
3,Ice cream and other edible ice (including sher...,Netherlands,"62,734,000","142,370,000",:,:,"64,167,000","157,913,000",:,:
4,Ice cream and other edible ice (including sher...,Germany,:,:,"613,966,539","874,943,000","394,896,126","783,960,000","620,027,771","930,818,000"
5,Ice cream and other edible ice (including sher...,Italy,"275,850,691","736,904,000","381,113,331","802,744,000","449,757,300","1,189,281,000","571,159,912","1,285,232,000"
6,Ice cream and other edible ice (including sher...,Ireland,:,:,:,:,:,:,:,: